packages:
  yum:
    nodejs20: []
    mariadb105: []
    mariadb105-server: []

commands:
  01_install_yarn:
    command: |
      curl --silent --location https://dl.yarnpkg.com/rpm/yarn.repo | sudo tee /etc/yum.repos.d/yarn.repo
      sudo yum install -y yarn
  02_start_mariadb:
    command: "systemctl start mariadb"
  03_mariadb_secure:
    command: |
      mysqladmin -u root password 'your_root_password'
    ignoreErrors: true
  04_build_frontend:
    command: |
      cd /var/www/html/frontend
      yarn install
      yarn build
    ignoreErrors: true
    
option_settings:
  aws:elasticbeanstalk:application:environment:
    DB_HOST: "riaa.cluster-c33d1vxevv2r.us-east-1.rds.amazonaws.com"
    DB_PASSWORD: "413t#LY4D7BJ*Ah40ELE"  